<html>
<head>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>
<script>
      function validate()
      {
        var phone = document.forms["Search"]["phone"].value;
        var error = "";
        if(phone  == "")
          error = "***Please enter value for Phone***";
        if(phone !="" && isNaN(phone))
          error =error   +  "***Please enter numeric value for Phone***";
         if(error  != ""){
           var w = window.open("","Please input a value","width=200, height=100, top=300, left=300");
           w.document.write(error );
           return false;
         }
         return true;
      }
    </script>

<body>
  <form  action="/SearchCustomer" method="POST" name="Search">
  <h1>Welcome Admin</h1>
   <table>
     <tr>
        <td>Phone Number</td>
        <td><input type="text" name="phone"></td>
        <td><input type="submit" name="Search" value="Search" onclick="return validate();"></td>
     </tr>
       {% if error %}
         <p class="error"><strong>Error:</strong>{{error}}
      {% endif %}
   </table>
 
   <div>
    <table border="1">
       <tr>
        <td><b>CustomerID</b></td>
        <td><b>First Name</b></td>
        <td><b>Last Name</b></td>
        <td><b>Phone</b></td>
        <td><b>Email</b></td>
        <td><b>Street</b></td>
        <td><b>City</b></td>
        <td><b>State</b></td>
        <td><b>Country</b></td>
        <td><b>ZipCode</b></td>
        <td><b>View/Add Pets</b></td>

      </tr>
      
    {% for n in data %}
     <tr>
         <td>{{n.customerid}}</td>  
         <td>{{n.firstname}}</td>
         <td>{{n.lastname}}</td>
         <td>{{n.phone}}</td>
         <td>{{n.email}}</td>
         <td>{{n.street}}</td>
         <td>{{n.city}}</td>
         <td>{{n.state}}</td>
         <td>{{n.country}}</td>
         <td>{{n.zipcode}}</td>
         <td><a href="{{ '/pets?id='+n.customerid|string }}">{{n.customerid}}</a></td>
        
    </tr>
    {% endfor %}
   </table>
  </div>


<p><a href="/addCustomer">Add Customer</a></p>

</form>
</html>
